.board{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 300px;
    height: 300px;
    margin: 5rem auto;

}
.result{
    animation:blinkingText 1s infinite;
    text-align: center;
}
@keyframes blinkingText{
    0%{     color: red;    }
    50%{    color: orange; }
    100%{   color: red;    }
}
.play-again{
    display: block;
  padding: 0.5rem 1rem;
        border: 1px solid black;
        transition: 0.3s all linear;
        background: rgb(67, 176, 219);
        text-transform: capitalize;
        text-align: center;
        margin:0.5rem auto;
        border: none;
        border-radius: 8px;
        color: whitesmoke;
}
.play-again:hover{
    background: rgb(108, 198, 233);
    transform: scale(1.2);
}